@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

$font-title: 'Lobster', sans-serif;
$font-text-1: 'Roboto Mono', sans-serif;
$font-text-2: 'Be VietNam Pro', sans-serif;
$font-text-3: 'Poppins', sans-serif;

$primary-clr-0: hsla(55, 100, 85, 1);
$primary-clr-1: hsla(55, 100, 76, 1); 
$primary-clr-2: hsla(15, 100, 69, 1); 
$primary-clr-3: hsla(4, 100, 67, 1); 
$primary-clr-4: hsla(4, 90, 55, 1); 
$primary-clr-5: hsla(4, 90, 40, 1);